<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>  
    <div class="content">
        <h5 style="font-size: 24px; color: #5f14b6; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Documento</h5>
        <div class="register-form30">    
            <form id="registerForm"> 
                <div class="contenedor__login-register">
                    <p style="font-size: 20px;">
                        <span style="color: #3498db; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Documento:</span> 
                        <span style="color: #d11b33; text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);"><%= documento %></span>
                    </p>
                    <br>
                    <!-- Campo oculto con el mismo valor --> 
                    <input type="hidden" name="id" value="<%= id %>"> 
                    <span style="color: #518b05; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Modificar</span> 
                    <h1></h1>
                    <input type="text" name="documento" value="<%= documento %>" required maxlength="30" style="display: inline; width: 100%; max-width: 600px; height: 30px; padding: 10px; font-size: 16px;" id="descripcionInput">
                    <h1></h1>
                    <div style="display: inline;">
                        <br><br>
                        <a href="/documentos" class="btn-cancel"> Regresar </a>   
                    </div>
                    <input type="submit" class="btn-save" value=" Confirmar ">
                </div>       
            </form>    
        </div>
    </div>

    <script>
        // Espera a que el DOM esté completamente cargado
        document.addEventListener("DOMContentLoaded", function() {
            const input = document.getElementById("descripcionInput");
            input.focus(); // Establece el foco en el input
            input.select(); // Selecciona todo el contenido del input
        });
    </script>

    <script>
        console.log('Script cargado');
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional
            const formData = new FormData(this); 
            const response = await fetch('/docmod', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });
            const result = await response.json();
            Swal.fire({
                title: result.title || 'Error',
                text: result.message || 'Hubo un problema',
                icon: result.status,
                showConfirmButton: true,
                timer: result.status === 'success' ? 1000 : null // Timer solo para éxito
            }).then(() => {
                if (result.status === 'success') {
                    window.location.href = '/documentos'; // Redirigir al usuario si es necesario
                }
            });
        });
    </script>

    <%- include('partials/footer') %>  
</body>
</html>
