<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <%- include('partials/head') %>
    <style>
        th {
            border: 1px solid rgb(247, 244, 244);
            padding: 8px;
            text-align: left;
        }
        .successImage {
            display: none; /* Ocultar inicialmente */
            width: 50px; /* Ajusta el tamaño según necesites */
            margin-top: 10px; /* Espacio superior */
        }
    </style>
</head>

<body>
    <%- include('partials/navigation') %>  
    <br>
    <div class="content">
        <div class="register-formAncho">    
            <div>
                <div class="container mt-1">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>
                                <h4>Documentos Asamblea</h4>
                                <a href="/menuprc" class="btn btn-success btn-sm btnind-hover-effect">Regresar</a>
                                <a href="/docadi" class="btn btn-primary btn-sm btnind-hover-effect">Adicionar</a>
                            </th>
                        </thead>        
                    </table>
                </div>
                <div class="container mt-1">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                            </tr>                        
                        </thead>
                        <tbody>
                            <% if (data && data.length > 0) { %>
                                <% data.forEach(function(item) { %>
                                    <tr>
                                        <td class="tex-hover-effect" style="width: 100px;"><%= item.documento %></td>
                                        <td style="width: 50px;">
                                                <a href="/docmod?id=<%= item.Id %>&documento=<%= item.documento %>" class="btn btn-warning btn-sm btn-hover-effect">Mod</a>
                                                <a href="/doceli?id=<%= item.Id %>&documento=<%= item.documento %>" class="btn btn-danger btn-sm btn-hover-effect">Ret</a>
                                                <a href="/docpdf?id=<%= item.Id %>&documento=<%= item.documento %>" class="btn btn-primary btn-sm btn-hover-effect">Pdf</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %> 
                                <tr>
                                    <td colspan="5">No hay datos disponibles</td>   
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function checkValue(input) {
            console.log('imagen'); // Este mensaje debería aparecer
            const successImage = input.parentElement.querySelector('.successImage');
            if (parseInt(input.value) === 0) {
                successImage.style.display = 'block'; // Mostrar imagen
            } else {
                successImage.style.display = 'none'; // Ocultar imagen
            }
        }
    </script>    
</body>
</html>
