<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>  
    <div class="content">
        <div class="register-formcda" > 
            <h5 style="font-size: 24px; color: #5f14b6; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Eliminar PREGUNTA</h5>

        </div>
        <div class="register-formpgt"> 
            <form id="registerForm" action="/preguntaseli" method='POST'> 
                <div class="contenedor__login-register">
                    <p style="font-size: 20px;">
                        <span style="color: #3498db; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">ID:</span> 
                        <span style="color: #d11b33; text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);"><%= id %></span>
                    </p>

                    <p style="font-size: 20px;">
                        <span style="color: #3498db; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Pregunta:</span> 
                        <span style="color: #d11b33; text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);"><%= texto %></span>
                    </p>

                    <br>
                    <!-- Campo oculto con el mismo valor -->
                    <input type="hidden" name="ids" value="<%= id %>">
                    <input type="hidden" name="pgtas" value="<%= texto %>">

                    <div style="display: inline;">
                        <h5></h5>
                        <a href="/ingpreguntas" class="btn-cancel"> Regresar </a>   
                    </div>
                    <input type="submit" class="btn-save" value=" Confirmar ">
                </div>       
            </form>    
        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional
            const formData = new FormData(this);
            const response = await fetch('/preguntaseli', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });
            const result = await response.json();
            Swal.fire({
                title: result.title || 'Error',
                text: result.message || 'Hubo un problema',
                icon: result.status,
                showConfirmButton: true,
                timer: result.status === 'success' ? 2500 : null // Timer solo para éxito
            }).then(() => {
                if (result.status === 'success') {
                    window.location.href = '/ingpreguntas'; // Redirigir al usuario si es necesario
                }
            });
        });
    </script>
    <%- include('partials/footer') %>  
</body>
</html>
