<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>  
    <div class="content">
        <div> 
            <h5 style="font-size: 15px; color: #5f14b6; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Modificar Contraseña</h5>
        </div>
        <div class="register-formIzq1"> 
            <form id="registerForm"> 
                <div class="contenedor__login-register">
                        <p style="font-size: 15px;">
                            <span style="color: #3498db; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Usuario:</span> 
                            <span style="color: #d11b33; text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);"><%= user %></span>
                            <span style="color: #3498db; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Nombre:</span> 
                            <span style="color: #d11b33; text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);"><%= name %></span>
                        </p>
                        <!-- Campo oculto con el mismo valor -->
                        <input type="hidden" name="user" value="<%= user %>">
                        <input type="hidden" name="name" value="<%= name %>">
                        <input type="text" name="pass" value="<%= pass %>">

                    <table class="table table-bordered table-hover">
                        <td>
                            <!-- Campo para la contraseña actual -->
                            <span style="color: #140263; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); font-size: 16px;">Actual:</span> 
                            <!-- Campo para la nueva contraseña -->
                            <span style="color: #518b05; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 16px;">Nueva:</span> 
                            <!-- Campo para confirmar la nueva contraseña -->
                            <span style="color: #518b05; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 16px;">Confirma:</span> 
                        </td>                        
                        <td>
                            <input type="password" name="current_password" id="current_password" placeholder="Contraseña Actual" maxlength="12" style="width: 150px; max-width: 600px; height: 30px; padding: 10px; font-size: 14px;" required>
                            <input type="password" name="passt" id="passt" placeholder="Nueva Contraseña"  maxlength="12" style="width: 150px; max-width: 600px; height: 30px; padding: 10px; font-size: 14px;" required>
                            <input type="password" name="confirm_past" id="confirm_past" placeholder="Confirmar Contraseña" maxlength="12" style="width: 150px; max-width: 600px; height: 30px; padding: 10px; font-size: 14px;" required>
                        </td>
                        <td>
                            <label style="font-size: 8px;"><input type="checkbox" id="show_current_password" > Mostrar </label>
                            <label style="font-size: 8px;"><input type="checkbox" id="show_new_password"> Mostrar </label>
                            <label style="font-size: 8px;"><input type="checkbox" id="show_confirm_password"> Mostrar </label>
                        </td>    
                    </table>    
                    <div style="display: inline;">
                        <a href="/menuprc" class="btn-cancel"> Regresar </a>   
                    </div>
                    <input type="submit" class="btn-save" value=" Confirmar ">
                </div>       
            </form>    
        </div>
    </div>

    <script >

        // Función para alternar visibilidad de la contraseña
        function togglePasswordVisibility(checkboxId, passwordFieldId) {
            const checkbox = document.getElementById(checkboxId);
            const passwordField = document.getElementById(passwordFieldId);

            // Verificar que los elementos existen
            console.log('Checkbox encontrado:', checkbox);
            console.log('Campo de contraseña encontrado:', passwordField);

            if (checkbox.checked) {
                passwordField.type = 'text'; // Mostrar contraseña
            } else {
                passwordField.type = 'password'; // Ocultar contraseña
            }
        }
        

        document.getElementById('registerForm').addEventListener('submit', async function(event) {
    event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

    // Crear un objeto FormData para capturar todos los datos del formulario
    const formData = new FormData(this);

    // Capturar los valores de las contraseñas
    const currentPassword = formData.get('current_password'); // Contraseña actual
    const newPassword = formData.get('passt'); // Nueva contraseña
    const confirmPassword = formData.get('confirm_past'); // Confirmación de la nueva contraseña

    // Verificar si la nueva contraseña tiene al menos 8 caracteres y una mayúscula
    //const passwordRegex = /^(?=.*[A-Z]).{8,}$/; // Al menos una mayúscula y 8 caracteres mínimos

    // Expresión regular para verificar al menos una mayúscula, un número y un mínimo de 8 caracteres
    //const passwordRegex = /^(?=.*[A-Z])(?=.*\d).{8,}$/;

    // Expresión regular para verificar al menos una mayúscula, una minúscula, un número y un mínimo de 8 caracteres
    const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$/;

    if (!passwordRegex.test(newPassword)) {
        Swal.fire({
            title: 'Error',
            text: 'La nueva contraseña debe tener al menos 8 caracteres, contener al menos una letra mayúscula y un número.',
            icon: 'error',
            showConfirmButton: true            
        });
        return; // Detener el envío del formulario si no cumple con los requisitos
    }

    // Verificar si la nueva contraseña y su confirmación coinciden
    if (newPassword !== confirmPassword) {
        Swal.fire({
            title: 'Error',
            text: 'Las Nuevas contraseñas no coinciden. Por favor, inténtelo de nuevo.',
            icon: 'error',
            showConfirmButton: true
        });
        return; // Detener el envío del formulario si no coinciden
    }

    try {
        // Enviar los datos al servidor para validar la contraseña actual y cambiarla si es correcto
        const response = await fetch('/usuariomodpass', {
            method: 'POST',
            body: new URLSearchParams(formData)
        });

        const result = await response.json();

        // Mostrar el resultado con SweetAlert
        Swal.fire({
            title: result.title || 'Error',
            text: result.message || 'Hubo un problema',
            icon: result.status,
            showConfirmButton: true,
            timer: result.status === 'success' ? 1500 : null // Timer solo para éxito
        }).then(() => {
            if (result.status === 'success') {
                window.location.href = '/menuprc'; // Redirigir al usuario si es necesario
            }
        });
    } catch (error) {
        console.error('Error:', error);
        Swal.fire({
            title: 'Error',
            text: 'Hubo un problema al procesar la solicitud',
            icon: 'error',
            showConfirmButton: true
        });
    }
});

        // Event listeners para los checkboxes
        document.getElementById('show_current_password').addEventListener('change', function() {
            togglePasswordVisibility('show_current_password', 'current_password');
        });

        document.getElementById('show_new_password').addEventListener('change', function() {
            togglePasswordVisibility('show_new_password', 'passt');
        });

        document.getElementById('show_confirm_password').addEventListener('change', function() {
            togglePasswordVisibility('show_confirm_password', 'confirm_past');
        });

    </script>
    <script type="module" src="./script.js"></script>
    <%- include('partials/footer') %>  
</body>
</html>
