<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Selecciona Preguntas</title>
    <%- include('partials/head') %> <!-- <link rel="stylesheet" href="main.css"> /// partial para repetir en cada una de las paginas -->
</head>
<body class="body.imagen">
    <%- include('partials/navigation') %>
    <a href="/menuprc" class="btn-cancel">Regresar</a>
    <h1></h1>
    <div class="content">
        <% if (data && data.length > 0) { %>
            <h2 style="font-family: 'Arial', sans-serif; font-size: 30px; color: rgb(216, 19, 45); font-weight: bold;"> <%= data[0].texto %> </h2>
            <div class="register-formIzq1">  
                <div style="font-size: 20px;"> 
                    <form action="/procesar-seleccion" method="POST">
                        <% data.forEach(function(item) { %>
                            <div>
                                <input type="checkbox" name="preguntas" value="<%= item.id %>">
                                <label><%= item.texto %></label>
                            </div>
                        <% }); %>
                        <br>
                        <input type="submit" class="btn-save" value="Votar">
                    </form>
                    </div>   
                </div>    
        <% } else { %>
            <tr>
                <div>
                    <td colspan="4" >No hay datos disponibles</td>   
                </div>
            </tr>
        <% } %>
    </div>
</body>
</html>

<!--            <p>No hay preguntas disponibles en este momento.</p>            -->
