<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Votacion</title>
    <%- include('partials/head') %>

    <style>
        /* Estilo personalizado para toda la alerta */
        .my-swal-popup {
            background-color: #f0f8ff; /* Color de fondo */
            color: #000; /* Color del texto */
        }

        /* Estilo personalizado para la barra de progreso */
        .my-progress-bar {
            background-color: #c92014; /* Color de la barra de progreso */
        }

        /* Estilo del botón */
        .my-confirm-button {
            background-color: #007bff; /* Color del botón de aceptar */
            color: #fff; /* Color del texto del botón */
        }

</style>

</head>
<body class="body.imagen">
    <%- include('partials/navigation') %>
    <h1></h1>

    <div class="content">
        <div class="register-formIzq1">    
            <% if (data && data.length > 0) { %>
                        <div style="font-size: 20px;"> 
                        <form id="registerForm" onsubmit="enviarSeleccion(event)">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Pregunta</th>
                                        <th>Activo</th>
                                    </tr>                        
                                </thead>
                                <tbody>
                                    <% if (data && data.length > 0) { %>
                                        <% data.forEach(function(item) { %>
                                            <tr>
                                                <td>
                                                    <div class="radio-group">
                                                        <input type="radio" name="pregunta" value="<%= item.id %>" <%= item.estado === 1 ? 'checked' : '' %> >
                                                        <label><%= item.texto %></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select name="selactivo" class="select-estado" style="width: 100%; max-width: 600px; height: 40px; padding: 8px; font-size: 16px; box-sizing: border-box;">
                                                        <option value="0" <%= parseInt(item.activo) === 0 ? 'selected' : '' %>>0</option>
                                                        <option value="1" <%= parseInt(item.activo) === 1 ? 'selected' : '' %>>1</option>
                                                    </select>
                                                </td>

                                                <td class="ocultar-columna">
                                                    <input type="text" name="selactivo" class="input-estado" value="<%= item.activo %>" data-id="<%= item.id %>">
                                                </td>
                                                
                                            </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="4">No hay preguntas disponibles en este momento.</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <br>
                            <a href="/menuprc" class="btn-cancel"> Regresar </a>
                            <input type="submit" class="btn-save" value="Actualizar">
                        </form>
                    </div>    
                </div>            
            <% } else { %>
                <p>No hay preguntas disponibles en este momento.</p>
            <% } %>
        </div>
    </div>     

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        async function enviarSeleccion(event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada
    
            // Obtener las preguntas seleccionadas
            const selectedValues = Array.from(document.querySelectorAll('input[name="pregunta"]:checked')).map(checkbox => checkbox.value);
    
            // Obtener los valores de selactivo para cada pregunta seleccionada
            const selActivoValues = selectedValues.map(id => {
                const selActivoInput = document.querySelector(`input[name="selactivo"][data-id="${id}"]`);
                return selActivoInput ? selActivoInput.value : null;
            });
    
            try {
                const response = await fetch('/procesar-seleccion', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        pregunta: selectedValues, 
                        selactivo: selActivoValues 
                    })
                });
             
                const result = await response.json();
            
                // Mostrar el SweetAlert basado en la respuesta
                if (result.status === 'success') {
                    Swal.fire({
                        title: result.title || 'Éxito',
                        text: result.message || 'Operación realizada correctamente',
                        icon: result.status,
                        showConfirmButton: true,
                        timer: result.status === 'success' ? 500 : null,
                        timerProgressBar: true,
                        customClass: {
                            popup: 'my-swal-popup',
                            progressSteps: 'my-progress-bar',
                            confirmButton: 'my-confirm-button'
                        }
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.timer) {
                            window.location.href = '/menuprc'; 
                        }
                    });
                } else {
                    Swal.fire({
                        title: result.title || 'Error',
                        text: result.message || 'Hubo un problema',
                        icon: 'error',
                        confirmButtonText: 'Aceptar',
                    });
                }
            } catch (error) {
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al procesar tu selección.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar',
                    timer: 5000
                });
            }
        }
    </script>
        
    <script>																				
        // Espera a que el DOM esté completamente cargado																				
        document.addEventListener('DOMContentLoaded', function() {																				
            document.querySelectorAll('.select-estado').forEach(select => {																				
                select.addEventListener('change', function() {																				
                        const input = this.closest('td').nextElementSibling.querySelector('.input-estado');																				
                        input.value = this.value;																				
                    });																				
                });																				
            });																				
    </script>																				

    <script>																				
        // Espera a que el DOM esté completamente cargado																				
        document.addEventListener('DOMContentLoaded', function() {																				
                document.querySelectorAll('.select-estado').forEach(select => {																				
                    select.addEventListener('change', function() {																				
                        // Encuentra el input en la misma fila																				
                            const input = this.closest('tr').querySelector(`.input-estado[data-id="${this.options[this.selectedIndex].value}"]`);																				
                            input.value = this.value;																				
                });																				
            });
        });																				
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/main.js"></script>
    <%- include('partials/footer') %>  
</body>
</html>
