<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <!-- Enlace a Bootstrap CSS desde CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- cabecera -->
    <%- include('partials/head') %> <!-- <link rel="stylesheet" href="main.css"> /// partial para repetir en cada una de las paginas -->
    <style>
            th {
            border: 1px solid rgb(247, 244, 244);
            padding: 8px;
            text-align: left;
        }

        .successImage {
            display: none; /* Ocultar inicialmente */
            width: 50px; /* Ajusta el tamaño según necesites */
            margin-top: 10px; /* Espacio superior */
        }        

    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include('partials/navigation') %>  
    <br><br>
    <div class="content">
        <div style="text-align: center;">
            <h5 style="color: #e04010c7; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); display: inline; margin-right: 30px; margin-left: 80px;">Pregunta :</h5>
            <h6 style="display: inline;">&nbsp;&nbsp;&nbsp;&nbsp;<%= texto %></h6>
        </div>    
        <div class="register-form30">    
            <h5 style="color: #5a6904c7; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); text-align: center;">Opciones de respuesta</h5>
            <div class="container mt-1">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>
                            <a href="/ingpreguntas" class="btn btn-success btn-sm btnind-hover-effect">Regresar</a>
                            <a href="/preguntasopc?id=<%= id %>&respuesta=<%= texto %>" class="btn btn-primary btn-sm">Adicionar</a>
                        </th>
                    </thead>        
                </table>
            </div>
            <div class="container mt-1">
                        <table class="table table-bordered table-hover">
                            <thead></thead>        
                            <tbody>
                                <% if (data && data.length > 0) { %>
                                    <% data.forEach(function(item) { %>
                                        <tr>
                                            <td class="tex-hover-effect"><%= item.respuesta %></td>
                                            <td>
                                                <a href="/modopc?idvlrprg=<%= item.id %>&respuesta=<%= item.respuesta %><%idp= id %><%pgp= texto %>" class="btn btn-warning btn-sm btn-hover-effect ">Mod</a>
                                            </td>
                                            <td>
                                                <a href="/eliopc?idvlrprg=<%= item.id %>&respuesta=<%= item.respuesta %><%idp= id %><%pgp= texto %>" class="btn btn-danger btn-sm btn-hover-effect ">Ret</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } else { %> 
                                    <tr>
                                        <td colspan="3">No hay datos disponibles</td> <!-- Cambié colspan a 3 -->
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
            </div>    
        </div>
    </div>
    <%- include('partials/footer') %>
    <!-- Enlace a Bootstrap JS y dependencias desde CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>



</html>